@import './animation.css';
@import './normalize.css';
@import './scroolbar.css';
@import './variables.css';

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 120px;
    padding: 15px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--bold);
    align-items: center;
    position: fixed;
}

.header-scrolled {
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.208);
    background-color: rgba(255, 255, 255, 0.729);
    z-index: 1000;
}


header .logo {
    width: 210px;
    height: 100%;
    /* vezes 2.24 */
}

header .logo .imgLogo {
    width: 100%;
    height: 100%;
}

header ul.links {
    list-style: none;
    display: flex;
}

ul.links li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 25px;
}


ul.links li .link {
    font-size: 2.5vh;
    width: 100%;
    height: 100%;
    position: relative;
    font-style: none;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--cor-principal);
}

.link p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--cor-principal);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .7s ease-in-out;
}

.link:hover p::before {
    transform-origin: left;
    transform: scaleX(1);
}


section {
    display: flex;
    flex-direction: column;
}

section div#home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    width: 100%;
    height: 87vh;
    margin-top: 120px;
}

section div#home div.textHome {
    display: flex;
    flex-direction: column;
}

section div#home div.textHome h1 {
    font-family: var(--bold);
    font-size: 13vh;
    margin: 5px 0;
}

section div#home div.textHome div.anmHome {
    display: flex;
}

section div#home div.textHome div.anmHome h3#animationTextHome {
    border-right: 2px solid var(--cor-principal);
    white-space: nowrap;
    overflow: hidden;
    animation: escrevendo 0.1s steps(40, end);
    font-family: var(--bold);
    font-size: 2.5vh;
    color: var(--cor-principal);
    margin: 10px 0;
}

section div#sobre {
    display: flex;
    background-image: url(./../img/4folhaas.png);
    justify-content: center;
    align-items: center;
    padding: 20px 200px;
    width: 100%;
    height: 85vh;
    background-size: 75%;
    background-repeat: none;
    background-position: center;

}

section div#sobre div.textSobre {
    background-color: var(--cor-branco);
    width: 50%;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.537);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section div#sobre div.textSobre h2 {
    font-size: 5vh;
    margin: 20px;
    font-family: var(--bold);
    color: var(--cor-principal);
}

section div#sobre div.textSobre p {
    font-family: var(--regular);
    font-size: 2.5vh;
    text-align: justify;
    margin: 10px;
}

section div#jardinagem {
    display: flex;
    background-image: url(./../img/fundo_jardinagem.jpeg);
    justify-content: center;
    align-items: center;
    padding: 20px 200px;
    width: 100%;
    height: 85vh;
    background-size: 60%;
    background-repeat: none;
    background-position: center;
}

section div#jardinagem div.textJardinagem {
    background-color: var(--cor-branco);
    width: 70%;
    padding: 45px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.537);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section div#jardinagem div.textJardinagem h2 {
    font-size: 5vh;
    margin: 20px;
    font-family: var(--bold);
    color: var(--cor-principal);
}

section div#jardinagem div.textJardinagem p {
    font-family: var(--regular);
    font-size: 2.5vh;
    text-align: justify;
    margin: 10px;
}

section div#trabalhos {
    justify-content: center;
    align-items: center;
    padding: 20px 200px;
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor-principal);
    align-items: center;
}

section div#trabalhos h2.textDep {
    font-size: 5vh;
    margin: 10px;
    font-family: var(--bold);
    color: var(--cor-branco);
}

section div#trabalhos .carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section div#trabalhos .slide {
    display: flex;
    padding: 20px;
    background-color: var(--cor-branco);
    text-align: center;
    margin: 30px 100px;
    flex-direction: column;
    width: 400px;
    height: 266px;
    border-radius: 20px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.632);
}

section div#trabalhos .slide img {
    width: 100%;
    height: 100%;
}

section div#trabalhos .controls {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

section div#trabalhos .prev-btn,
section div#trabalhos .next-btn {
    margin: 0 15px;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--cor-branco);
    color: var(--cor-principal);
    font-family: var(--bold);
}



DIV#contato {
    width: 100%;
    padding: 75px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0;
}

div#contato h1.titleCcontato {
    font-family: var(--bold);
    color: var(--cor-principal);
    font-size: 45px;
}

div#contato div.contentContato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 550px;
}

div#contato div.contentContato div.textContato {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

div#contato div.contentContato div.textContato a.cardContato {
    display: flex;
    align-items: left;
    width: 320px;
    height: 50px;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: var(--cor-fundo-claro);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 3px hsl(0, 0%, 0%, 0.4);
    margin: 10px;
    color: #000;
    font-family: var(--regular);
}

div#contato div.textContato a.cardContato:hover,
div#contato div.textContato a.cardContato:active {
    animation: hover-sombra 0.2s linear 1;
    animation-fill-mode: forwards;
}

div#contato div.textContato a.cardContato img {
    width: 40px;
    height: 40px;
    margin: 20px;
}

body hr.section_footer {
    width: 80%;
    background-color: #0000007b;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

footer {
    width: 100%;
    height: 200px;
    top: 0;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}

footer img.logo {
    width: 210px;
    height: 80%;
}

footer div.direitos p {
    font-family: var(--regular);
    color: var(--cor-principal);
}